<nav class="navbar navbar-expand-sm" bg-light>
  <div class="container-fluid">
    <ul class="navbar-nav">

      <!-- NAVBAR: Adicionar Funcionarios-->
      <li class="nav-item">
        <a routerLink="funcionario/create" class="nav-link" routerLinkActive="active">
          Adiocionar Funcionario
        </a>
      </li>

      <!-- NAVBAR: Adicionar Funcionarios-->
      <li class="nav-item">
        <a Edita routerLink="funcionario" class="nav-link" routerLinkActive="active">
          Listar Funcionario
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>